
.join_text{
    color: black !important;
    padding-left: 900px;
    
    
}

.page-title-bar-title {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 2000px;
}


.button-placement{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.place{
    padding-bottom: 10px;
    padding-left: 700px;
    justify-content: center;
   
}